<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/db13;TNS_ADMIN=C:\Users\my_as\Oracle\network\admin;PASSWORD=12345;PERSIST SECURITY INFO=True;USER ID=ADMINCORE&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/db13;TNS_ADMIN=C:\Users\my_as\Oracle\network\admin;PASSWORD=12345;PERSIST SECURITY INFO=True;USER ID=ADMINCORE&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities3" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/db13;TNS_ADMIN=C:\Users\my_as\Oracle\network\admin;PASSWORD=12345;USER ID=USERCORE&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <implicitRefCursor>
        <storedProcedure schema="ADMINCORE" name="GETALLCARINFO">
          <refCursor name="CARS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="IDSUPPLIER" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="IMGSOURCE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="BRAND" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="MODEL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="COLOR" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="WEIGHT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="7" columnName="COST" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="8" columnName="CARRATING" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="9" columnName="IDCAR" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="10" columnName="IDEQUIPMENTLIST" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="11" columnName="DESCRIPTION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="12" columnName="COMPANY_NAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="13" columnName="EMAIL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="ADMINCORE" name="GETALLSUPPLIERINFO">
          <refCursor name="SUPPLIER">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="COMPANY_NAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="EMAIL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="ADMINCORE" name="GETCLIENTS">
          <refCursor name="CLIENTS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="SURNAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="AGE" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="4" columnName="EMAIL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="LOGIN" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="PASSWORD" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="USERCORE" name="GETALLCARINFO">
          <refCursor name="CARS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="IDSUPPLIER" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="2" columnName="IMGSOURCE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="BRAND" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="MODEL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="COLOR" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="WEIGHT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="7" columnName="COST" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="8" columnName="CARRATING" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="9" columnName="IDCAR" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="10" columnName="IDEQUIPMENTLIST" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="11" columnName="DESCRIPTION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="12" columnName="COMPANY_NAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="13" columnName="EMAIL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="ADMINCORE" name="GETALLORDERINFO">
          <refCursor name="ORDERS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="BRAND" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="MODEL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="WEIGHT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="4" columnName="COST" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="5" columnName="DESCRIPTION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="6" columnName="NAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="7" columnName="SURNAME" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="8" columnName="QUANTITY" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="9" columnName="ISTESTDRIVE" providerType="Int16" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="10" columnName="IDCAR" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="11" columnName="IDCLIENT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
</configuration>